.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ui.container {
  width: 1370px !important;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #ecf3f3;
  background-image: url(../img/grid-05.png);
  background-repeat: repeat-y;
  background-position: center; }

.modal-a {
  cursor: pointer; }

strong {
  font-family: 'Bowlby One SC', cursive;
  padding-right: 20px;
  font-weight: bold !important;
  font-size: 2em;
  color: #adada9; }

p {
  line-height: 48px !important;
  letter-spacing: 0.5px;
  font-size: 17px;
  font-weight: 100;
  font-family: sans-serif;
  color: #3a3a3a; }

h1 {
  font-size: 8em !important;
  font-family: 'Brusher-Regular', cursive !important;
  font-weight: normal !important; }

h3 {
  font-size: 1.5em !important;
  font-weight: 100 !important; }

section {
  max-width: 960px;
  margin: 0 auto;
  padding: 1px 0; }

@font-face {
  font-family: 'Atmosphere-Regular';
  font-family: 'Brusher-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Atmosphere-Regular"), local("Atmosphere-Regular"), url("../fonts/Atmosphere-Regular.ttf") format("truetype");
  src: local("Brusher-Regular"), local("Brusher-Regular"), url("../fonts/Brusher-Regular.ttf") format("truetype"); }

.section-number {
  font-size: 212px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 667px) {
    .section-number {
      display: none; } }

@media screen and (max-width: 867px) {
  .section-one {
    padding-bottom: 200px; } }

.section-one .main-panel {
  max-width: 700px;
  margin-left: 170px;
  margin-top: 50px;
  background: none;
  box-shadow: none; }
  .section-one .main-panel .section-number {
    position: absolute;
    margin-left: -9.5%;
    margin-top: -1%; }
  @media screen and (max-width: 967px) {
    .section-one .main-panel {
      padding-right: 10%; } }
  @media screen and (max-width: 800px) {
    .section-one .main-panel {
      margin-left: 50px;
      padding-left: 50px; } }
  @media screen and (max-width: 567px) {
    .section-one .main-panel {
      margin-left: 0px; } }

.section-one .title {
  position: absolute;
  margin-top: 23%;
  margin-left: 18.2%;
  color: #00cdf3;
  z-index: 3; }
  @media screen and (max-width: 967px) {
    .section-one .title {
      margin-top: 40%;
      font-size: 10px; } }
  @media screen and (max-width: 567px) {
    .section-one .title {
      margin-top: 47%;
      margin-left: 1%; } }
  @media screen and (max-width: 557px) {
    .section-one .title {
      margin-top: 0;
      position: relative; } }

.section-one .image {
  z-index: 2;
  position: relative;
  padding-top: 75%;
  background-image: url(../img/photo-1429311808521-e9323bf636bd.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); }

.section-one .blurb {
  width: 290px;
  position: absolute;
  margin-top: 3%;
  margin-left: -6%;
  z-index: 5; }
  @media screen and (max-width: 667px) {
    .section-one .blurb {
      width: 400px;
      background: #fff;
      padding: 3% 3%;
      -webkit-box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); } }
  @media screen and (max-width: 557px) {
    .section-one .blurb {
      width: 200px;
      margin-top: 20%; } }
  @media screen and (max-width: 567px) {
    .section-one .blurb p {
      line-height: 35px !important; } }

.section-two {
  margin-top: 200px;
  height: 500px; }
  @media screen and (max-width: 867px) {
    .section-two {
      padding-bottom: 200px;
      height: 700px; } }
  .section-two .column {
    position: relative;
    padding: 2% 5%;
    display: inline-block;
    -webkit-box-shadow: 21px 21px 36px 0 rgba(11, 13, 12, 0.13);
    box-shadow: 21px 21px 36px 0 rgba(11, 13, 12, 0.13);
    background-position: 50%;
    background-size: cover;
    background-color: #fff; }
    @media screen and (max-width: 867px) {
      .section-two .column {
        display: block; } }
    .section-two .column .twoColumn {
      padding-top: 10px;
      padding-bottom: 10px; }
  @media screen and (max-width: 667px) {
    .section-two .skills {
      position: absolute;
      margin-top: 5%; } }
  @media screen and (max-width: 467px) {
    .section-two .skills {
      margin-left: 20px; } }
  .section-two .left--panel {
    left: 25%;
    position: absolute; }
    @media screen and (max-width: 1167px) {
      .section-two .left--panel {
        left: 21%; } }
    @media screen and (max-width: 867px) {
      .section-two .left--panel {
        max-width: 300px;
        width: 100%;
        position: relative; } }
    @media screen and (max-width: 667px) {
      .section-two .left--panel {
        padding: 20% 7%;
        width: 550px; } }
    @media screen and (max-width: 467px) {
      .section-two .left--panel {
        left: 0; } }
  .section-two .right--panel {
    background-color: #e9fff3;
    position: absolute;
    left: 48%;
    margin-top: 5%;
    z-index: 2; }
    @media screen and (max-width: 867px) {
      .section-two .right--panel {
        max-width: 300px;
        width: 100%;
        margin-top: -5%;
        position: absolute; } }
    @media screen and (max-width: 667px) {
      .section-two .right--panel {
        padding: 20% 7%;
        width: 550px; } }
    @media screen and (max-width: 497px) {
      .section-two .right--panel {
        left: 30%; } }
    @media screen and (max-width: 467px) {
      .section-two .right--panel {
        left: 0; } }
  .section-two .section-number {
    position: absolute;
    right: 17%;
    margin-top: 18%; }
  .section-two .blurb {
    width: 500px;
    margin-left: auto;
    position: relative;
    top: 45px;
    z-index: 1; }
    @media screen and (max-width: 997px) {
      .section-two .blurb {
        width: 400px;
        left: -10%; } }
    @media screen and (max-width: 667px) {
      .section-two .blurb {
        left: -10% !important; } }
    @media screen and (max-width: 787px) {
      .section-two .blurb {
        left: 1%; } }
    @media screen and (max-width: 667px) {
      .section-two .blurb {
        width: 400px;
        background: #fff;
        padding: 3% 3%;
        -webkit-box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); } }
    @media screen and (max-width: 497px) {
      .section-two .blurb {
        width: 200px; } }
    @media screen and (max-width: 567px) {
      .section-two .blurb p {
        line-height: 35px !important; } }
  .section-two .title {
    position: relative;
    margin-top: 20%;
    color: red; }
    @media screen and (max-width: 967px) {
      .section-two .title {
        left: 13%;
        z-index: 3; } }
    @media screen and (max-width: 667px) {
      .section-two .title {
        left: 0;
        margin-top: -41%;
        text-align: center; } }
    @media screen and (max-width: 637px) {
      .section-two .title {
        font-size: 10px !important;
        margin-top: -33%; } }
    @media screen and (max-width: 497px) {
      .section-two .title {
        top: -150px; } }

@media screen and (max-width: 867px) {
  .section-three {
    padding-bottom: 200px; } }

.section-three img {
  width: 100%;
  border-radius: 5px; }

.section-three h2 {
  margin: 5px 0; }

.section-three .section-number {
  position: absolute;
  margin-top: 0%;
  margin-left: 2%; }

.section-three .ui.segment {
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0) !important;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0) !important;
  padding: 0 !important;
  border: 1px solid rgba(34, 36, 38, 0) !important; }

.section-three .ui.grid {
  background: white;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  -webkit-box-shadow: 21px 21px 36px 0 rgba(11, 13, 12, 0.13);
  box-shadow: 21px 21px 36px 0 rgba(11, 13, 12, 0.13); }
  .section-three .ui.grid p {
    line-height: 20px !important; }

.section-three .blurb {
  width: 300px;
  position: relative;
  top: 90px;
  margin-left: auto; }

.section-three .title {
  text-align: right;
  position: relative;
  top: 760px;
  right: -2%;
  color: #dc00ff !important; }

.section-three .project-container {
  margin: 20px auto 20px auto;
  overflow: auto;
  width: 75%;
  background: white;
  padding: 7% 5%;
  -webkit-box-shadow: 0px 70px 80px -40px rgba(0, 0, 0, 0.4), 0px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 70px 80px -40px rgba(0, 0, 0, 0.4), 0px 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); }
  .section-three .project-container .item {
    background: #eeecec;
    height: 80px;
    margin: 20px 0;
    position: relative;
    -webkit-box-shadow: 8px 6px 22px 0 rgba(12, 13, 13, 0.2);
    box-shadow: 8px 6px 22px 0 rgba(12, 13, 13, 0.2); }
    .section-three .project-container .item p {
      line-height: 20px !important;
      font-size: 14px; }
    .section-three .project-container .item strong {
      font-family: sans-serif;
      font-size: 18px;
      color: black;
      margin: 0 !important; }
    .section-three .project-container .item .project--title {
      margin: 0 !important; }
    .section-three .project-container .item img {
      display: block;
      border-radius: 0 !important;
      width: 100%;
      max-width: 205px;
      position: relative;
      top: -20px;
      -webkit-box-shadow: 8px 6px 22px 0 rgba(12, 13, 13, 0.2);
      box-shadow: 8px 6px 22px 0 rgba(12, 13, 13, 0.2); }
    .section-three .project-container .item .project--image.even {
      float: left; }
    .section-three .project-container .item .project--content.even {
      margin-left: 240px;
      padding: 10px; }
    .section-three .project-container .item .project--image.odd {
      float: right; }
    .section-three .project-container .item .project--content.odd {
      position: absolute;
      margin-left: 40px;
      padding: 10px;
      width: 380px; }

.section-four {
  height: 500px;
  margin-top: 150px; }
  @media screen and (max-width: 867px) {
    .section-four {
      padding-bottom: 200px; } }
  .section-four input:not([type]), .section-four input[type="text"], .section-four input[type="message"], .section-four input[type="email"] {
    display: block !important; }
  .section-four .main-panel {
    position: relative;
    max-width: 480px;
    margin-right: auto;
    margin-left: 10%;
    top: 100px;
    height: 233px;
    background: #fff;
    box-shadow: 0px 70px 80px -40px rgba(0, 0, 0, 0.4), 0px 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); }
    .section-four .main-panel .social {
      position: relative;
      margin-top: -14%;
      left: 12%; }
    .section-four .main-panel ul {
      display: flex; }
      .section-four .main-panel ul .social--item {
        list-style-type: none;
        padding-right: 15px; }
        .section-four .main-panel ul .social--item .icon {
          color: black;
          font-size: 3em; }
    .section-four .main-panel .title {
      position: relative;
      top: -25%;
      left: -15%; }
      .section-four .main-panel .title h1 {
        color: yellow; }
    .section-four .main-panel .section-number {
      position: relative;
      margin-left: 75%;
      top: 60px; }
